// Adding use of variables
@use "./variables" as *;

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-family: $secondaryFont;
  text-transform: uppercase;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 2.7rem;
  padding-bottom: 100px;
  text-align: center;
}
h3 {
  font-size: 1.8rem;
}
a {
  text-decoration: none;
  font-family: $primaryFont;
  color: white;
  font-size: 0.9rem;
}

p,
input,
label,
textarea,
button {
  font-family: $primaryFont;
  font-size: 1.2rem;
}

section {
  padding: 100px 0;
}

.hiddenLeft {
  opacity: 0;
  transition: all 2s;
  transform: translateX(-100%);
  filter: blur(5px);
}

.showLeft {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.flexLi:nth-child(2) {
  transition-delay: 500ms;
}
.flexLi:nth-child(3) {
  transition-delay: 500ms;
}
.flexLi:nth-child(4) {
  transition-delay: 1000ms;
}

.hiddenRight {
  opacity: 0;
  transition: all 2s;
  transform: translateX(100%);
  filter: blur(5px);
}

.showRight {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
