// Adding vuse of variables
@use "./variables" as *;

.wrapper{
   
    max-width: 1250px;
     width: 90%;
    margin: 0 auto;
}

* { 
margin: 0;
padding: 0;
}
body {
    background-color: black;
    background-image: linear-gradient(to right,  $primaryColor, $fourthColor);
 
//     background-image: url(../assets/25335.jpg);
//   background-position: center;
//   background-size: cover;
}
ul{
    list-style: none;
}
h1, 
h2, 
h3  {
    font-family: $primaryFont;
}

a{
    text-decoration: none;
    font-family: $secondaryFont;
    font-weight: bold;
    color: black;
    font-size: 0.75rem;
}
a:hover, a:focus{
    color: $fourthColor;
}
section{
    margin-top: 100px;
}
p{
    font-family: $secondaryFont;
}

.material-symbols-outlined:hover, .material-symbols-outlined:focus{
    color: $fourthColor;
   }