// Adding vuse of variables
@use "./variables" as *;

.wrapper{
   
    max-width: 1250px;
     width: 90%;
    margin: 0 auto;
}

* { 
margin: 0;
padding: 0;
}

ul{
    list-style: none;
}
h1, 
h2, 
h3  {
    font-family: $primaryFont;
}

a{
    text-decoration: none;
    font-family: $secondaryFont;
    font-weight: bold;
    color: black;
    font-size: 0.9rem;
}

section{
    margin-top: 100px;
}
p{
    font-family: $secondaryFont;
}

