// Adding variables for colors and font
@use "./variables" as *;

// ---------------Header styling start here ---------------//
//Global section styling
header {
  background-image: url(../assets/lukas-hellebrand-E1S962T0g5c-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
// Using flex to center every element
.flexHeader {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // Styling h1
  h1 {

    color: orange;
 
  }

  p {
    color: white;
    font-size: 2rem;
    text-shadow: -1px 0px 10px black;
  }
 
  // Animation for 2 cities

  .title {
    position: relative;
  }
  .cityCanada {
    animation: hide 5s infinite;
  }
  .cityFrance {
  position: absolute;
  top: 0;
  left: 367px;
    animation: show 5s infinite;
  }
  .cityFrench {
    position: absolute;
    left: 345px;
    bottom: 0;
    animation: show 5s infinite;
  }
}

//   Styling link button and adding animation from code pen (https://codepen.io/yuhomyan/pen/OJMejWJ)

.link {
  position: relative;
  padding: 10px;
  display: flex;
  transition: 0.7s;
  align-items: center;
  border: 2px solid white;
  background: $primaryColor;
  color: white;
  overflow: hidden;
  a {

    text-shadow: none;
  }
}
.link:hover,
.link:focus {
  background-color: white;
  transform: scale(1.3);
  border: 3px solid orange;
  a {
    color: orange;
    text-shadow: none;
  }
}
.link:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny 3s ease-in-out infinite;
}

// Styling and anime arrow
.arrow {
  i {
    font-size: 2rem;
    color: white;
  }
  position: relative;
  animation: jump 0.9s ease infinite;
}
//Burger menu in the corner
.openMenu, .closeMenu{
 position: absolute;
 right: 10px;
 top: 38px;
 display: none;
 cursor: pointer;
}

//Styling languages icon
.languageIcon{
position: absolute;
top: 20px;
right: 30px;
  display: flex;
  align-items: center;
  .englishFlag{
    width: 90px;
    opacity: 0.5;
  }
  .frenchFlag{
    width: 72px;
  }
  .englishFlagFr{
    width: 90px;
    margin-top: 2px;
    
  }
  .frenchFlagFr{
    width: 72px;
    opacity: 0.5;
  }

 .switchFrench, .switchEnglish{
  display: none;
  position: absolute;
  right: 50px;
  font-size: 1rem;
 }
}
// ---------------Header styling ends here ---------------//
