// Adding variables for colors and font
@use "./variables" as *;

// ---------------Header styling start here ---------------//
//Global section styling
header {
  padding-top: 70px;
}

// Styling h1
h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
  .name {
    background-color: $thirdColor;
    color: white;
  }
  .city {
    color: white;
    background-color: $secondaryColor;
    width: 30%;
  }
  .job {
    display: block;
    background-color: transparent;
  }
}
// Styling text under h1
.welcome {
  font-size: 2rem;
  font-family: $primaryFont;
  text-align: center;
  margin-bottom: 50px;
}

// Styling picture
.portrait {
  width: 40%;
  position: relative;
  top: 150px;
  img {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 6px 0px $fourthColor;
  }
}

// Using flex to display every element centered
.flexHeader {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
// Using flex to display text and picture side by side
.flexArticle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
// Using flex to display two links side by side
.flexLink {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
//   Styling link button
.link {
  padding: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 6px 0px $fourthColor;
  border-radius: 10px;
  margin-right: 20px;
  background-color: white;
}
// Styling the button when hover. I used this code from pencode

.link:hover,
.link:focus {
  background-color: black;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  a {
    color: $fourthColor;
  }
}

// Styling and anime arrow
.arrow {
  width: 90px;
  position: relative;
  animation: jump 0.9s ease infinite;
}
@keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: 40px;
  }
  100% {
    top: 0;
  }
}
