
//---------------------Start of header animation-----------------//
 //Header Hide show animation

 @keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 10;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    opacity: 10;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 10;
  }
}

//Animation for links ( coming from code pen https://codepen.io/yuhomyan/pen/OJMejWJ)

@keyframes shiny {
  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
  81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
  
// Jump animation for arrow

@keyframes jump {
  0% {
    top: -20px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -20px;
  }
}
//---------------------End of header animation-----------------//


 //---------------------Start of skills section animation-----------------//
// shake animation for skills
@keyframes shake {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
 //---------------------End of skills section animation-----------------//

  