//---------------------Start of header animation-----------------//
// Jump animation for arrow

@keyframes jump {
  0% {
    bottom: 150px;
  }
  50% {
    bottom: 120px;
  }
  100% {
    bottom: 150px;
  }
}
//---------------------End of header animation-----------------//

//---------------------Start of skills section animation-----------------//
// shake animation for skills
@keyframes shake {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

// Burger menu animation

@keyframes dropDown {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

// Typing text animation
@keyframes typing {
  0%, 40% { content: ""; }
  1%, 39% { content: "b"; }
  2%, 38% { content: "ba"; }
  3%, 37% { content: "bas"; }
  4%, 36% { content: "based"; }
  5%, 35% { content: "based "; }
  6%, 34% { content: "based i"; }
  7%, 33% { content: "based in"; }
  9%, 32% { content: "based in "; }
  10%, 31% { content: "based in T"; }
  11%, 30% { content: "based in To"; }
  12%, 29% { content: "based in Tor"; }
  13%, 28% { content: "based in Toro"; }
  14%, 27% { content: "based in Toron"; }
  15%, 26% { content: "based in Toront"; }
  16%, 25% { content: "based in Toronto"; }
  17%, 24% { content: "based in Toronto "; }
  18%, 23% { content: "based in Toronto 🇨🇦"; }
  
  45%, 85% { content: ""; }
  46%, 84% { content: "f"; }
  47%, 83% { content: "fr"; }
  48%, 82% { content: "fro "; }
  49%, 81% { content: "from"; }
  50%, 80% { content: "from "; }
  51%, 79% { content: "from V"; }
  52%, 78% { content: "from Va"; }
  53%, 77% { content: "from Val"; }
  54%, 76% { content: "from Vale"; }
  55%, 75% { content: "from Valen"; }
  56%, 74% { content: "from Valenc"; }
  57%, 73% { content: "from Valence"; }
  58%, 72% { content: "from Valence "; }
  59%, 71% { content: "from Valence 🇫🇷"; }
}

// Typing text animation french
@keyframes typingFr {
  0%, 40% { content: ""; }
  1%, 39% { content: "b"; }
  2%, 38% { content: "ba"; }
  3%, 37% { content: "bas"; }
  4%, 36% { content: "basé"; }
  5%, 35% { content: "basé "; }
  6%, 34% { content: "basé à"; }
  7%, 33% { content: "basé à "; }
  9%, 32% { content: "basé à T"; }
  10%, 31% { content: "basé à To"; }
  11%, 30% { content: "basé à Tor"; }
  12%, 29% { content: "basé à Toro"; }
  13%, 28% { content: "basé à Toron"; }
  14%, 27% { content: "basé à Toront"; }
  15%, 26% { content: "basé à Toronto"; }
  16%, 25% { content: "basé à Toronto "; }
  17%, 24% { content: "basé à Toronto 🇨🇦"; }


  45%, 85% { content: ""; }
  46%, 84% { content: "d"; }
  47%, 83% { content: "de"; }
  48%, 82% { content: "de "; }
  49%, 81% { content: "de V"; }
  50%, 80% { content: "de Va"; }
  51%, 79% { content: "de Val"; }
  52%, 78% { content: "de Vale"; }
  53%, 77% { content: "de Valen"; }
  54%, 76% { content: "de Valenc"; }
  55%, 75% { content: "de Valence"; }
  56%, 74% { content: "de Valence "; }
  57%, 73% { content: "dde Valence 🇫🇷"; }

}





//---------------------End of skills section animation-----------------//
