
//---------------------Start of header animation-----------------//
 //Header Hide show animation

 @keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 10;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    opacity: 10;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 10;
  }
}
// Jump animation for arrow

@keyframes jump {
  0% {
    top: -20px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -20px;
  }
}
//---------------------End of header animation-----------------//


 //---------------------Start of skills section animation-----------------//
// shake animation for skills
@keyframes shake {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
 //---------------------End of skills section animation-----------------//


 
  
  