// Adding variables for colors and font
@use "./variables" as *;

// ---------------media query styling start here ---------------//

@media (max-width: 1250px) {
  // Reducing menu size
  nav {
    ul {
      li {
        a {
          font-size: 1rem;
        }
      }
    }
  }
}
// Reducing menu size
@media (max-width: 1020px) {
  nav {
    ul {
      li {
        a {
          font-size: 0.8rem;
        }
      }
    }
  }
}

// Global mobile view
@media (max-width: 830px) {
  // Nav media query
  nav {
    display: none;
    position: absolute;
    top: 0;
    left: 10px;
    animation: dropDown 0.9s ease 1;

    ul {
      li {
        padding: 5px;
      }
      li:hover,
  li:focus {
    transform: none;
  }
    }
  }
  .frenchNav {
    display: none;
    position: absolute;
    top: 0;
    left: 10px;
    animation: dropDown 0.9s ease 1;
    ul{
        li{
            padding: 5px;
            text-align: center;
            a{
                font-size: 0.65rem;
            }
        }
    }
   
  }
  //Header media query
  header {
    .flexHeader {
      justify-content: space-evenly;

      h1 {
        margin-top: 50px;
        font-size: 2rem;
        text-align: center;
      }
      p {
        text-align: center;
      }
      .cityFrance {
        top: 45px;
        left: 128px;
      }
      .cityFrench{
        left: 110px;
      }
      .openMenu {
        color: white;
      }
      .closeMenu {
        display: none;
        color: white;
      }
    }
  }
  //Language icon
  .languageIcon{
    flex-direction: column;
    top: 80px;
    right: 10px;
    .englishFlag,.englishFlagFr{
      width: 30px;
      margin-bottom: 5px;
    }
    .frenchFlag, .frenchFlagFr{
      width: 25px; 
      margin-bottom: 5px;
    }
  }
  // About section
  .about {
    padding: 0;
  }
  .imgAbout {
    width: 50%;
  }
  //Skills section

  .skills {
    padding-bottom: 0;

    li {
      width: 40%;
    }
  }
  .frenchSkills{
    font-size: 2rem;
  }
  //Project section

  .flexProjectUl {
    flex-direction: column;
    li {
      min-width: 100%;
    }
    li:hover, li:focus{
      transform: none;
    }
  }
  .projectLink:hover,
.projectLink:focus {
  transform: none;
}

  //Contact Section

  .contact {
    padding-top: 0;
    form {
      width: 100%;
      input,
      textarea {
        text-align: center;
      }
    }
    .emailAdress{
      left: 0;
      top: 120px;
    }
    .phoneNumber{
      left: 50px;
      top: 120px;
    }
    button:hover,
    button:focus {
      transition: none;
    }
  }
}
