// Adding variables for colors and font
@use "./variables" as *;

// ---------------media query styling start here ---------------//

@media (max-width: 1250px) {
  // Reducing menu size
  nav {
    ul {
      li {
        a {
          font-size: 1rem;
        }
      }
    }
  }
}
// Reducing menu size
@media (max-width: 1020px) {
  nav {
    ul {
      li {
        a {
          font-size: 0.8rem;
        }
      }
    }
  }
}

// Global mobile view
@media (max-width: 830px) {
  // Nav media query
  nav {
    display: none;
    position: absolute;
    top: 0;
    left: 10px;
    animation: dropDown 0.9s ease 1;

    ul {
      li {
        padding: 5px;
      }
      li:hover,
  li:focus {
    transform: none;
  }
    }
  }
  .frenchNav {
    display: none;
    position: absolute;
    top: 0;
    left: 10px;
    animation: dropDown 0.9s ease 1;
    ul{
        li{
            padding: 5px;
            text-align: center;
            a{
                font-size: 0.65rem;
            }
        }
    }

  }
  .openMenu {
    display: block;
    color: white;
    z-index: 10;
  }

  //Header media query
  header {
    .flexHeader {
      justify-content: space-evenly;

      h1 {
        margin-top: 100px;
        font-size: 3rem;
        text-align: center;
        padding: 20px 30px;
      }
      p {
        text-align: center;
      }
    .languages {
font-size: 1rem;
    }
    }
  }
  //Language icon
  .languageIcon{
    top: 50px;
    right: 13px;
  }
  // About section
  .about {
    padding: 0;
  }
  .imgAbout {
    width: 50%;
  }
  //Skills section

  .skills {
    padding-bottom: 0;
    li {
      width: 40%;
    }
  }
  .frenchSkills{
    font-size: 2rem;
  }
  //Project section

  .flexProjectUl {
    flex-direction: column;
    li {
      min-width: 100%;
    }
    li:hover, li:focus{
      transform: none;
    }
  }
  .projectLink:hover,
.projectLink:focus {
  transform: none;
}

  //Contact Section

  .contact {
    padding-top: 0;
    .flexContact{
      p{
        padding: 0;
      }
    }
    form {
      width: 100%;
      input,
      textarea {
        text-align: center;
      }
    }
    .emailAdress{
      left: 0;
      bottom: 60px;
    }
    .phoneNumber{
      left: -50px;
      bottom: 60px;
    }
   
    button:hover,
    button:focus {
      transition: none;
    }
  }
}
