// Adding variables for colors and font
@use "./variables" as *;

// ---------------Nav styling starts here---------------//
//Global nav styling
nav {
   width: 50%;
   margin-top: 30px;
  //   Using flex to display every menu side by side and center them
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
   transition: 0.5s;
   a{
    color: black;
    font-size: 1.2rem;
   }
    a:hover,
    a:focus {
      color: $fourthColor;
  
    }
  }
  li:hover, li:focus{
    transform: scale(1.5);
  }
}


// ---------------Nav styling ends here---------------//