// Adding variables for colors and font
@use "./variables" as *;

// ---------------Section about me styling start here ---------------//
//Global section styling Using flex to center elements
.about {
  background: rgb(43, 65, 98);
  background: linear-gradient(
    to top,
    rgba(43, 65, 98, 1) 17%,
    rgba(31, 97, 196, 1) 50%,
    rgba(0, 0, 0, 1) 80%
  );
}
.flexAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    padding-bottom: 30px;
    color: white;
    text-shadow: -1px 0px 10px black;
  }
  p {
    padding: 15px;
    text-align: center;
    color: white;
    a {
      font-family: $primaryFont;
      font-size: 1.2rem;
    }
    a:hover,
    a:focus {
      text-decoration: underline;
      color: black;
    }
  }
}
//Styling h3
h3 {
  margin-bottom: 20px;
  text-align: center;
  span {
    font-size: 2rem;
    color: $primaryColor;
  }
}

// Styling image
.imgAbout {
  width: 20%;
  margin-bottom: 20px;
  img {
    border-radius: 50%;
    border: 5px solid white;
  }
}

// ---------------Section about me styling ends here ---------------//
