@use "./variables" as *;

// ---------------project Section styling start here ---------------//
// Global section styling
.projects {
  background: rgb(43, 65, 98);
  background: linear-gradient(
    to bottom,
    rgba(43, 65, 98, 1) 17%,
    rgba(31, 97, 196, 1) 50%,
    rgba(0, 0, 0, 1) 80%
  );

  h2 {
    padding-bottom: 100px;
    color: orange;
  }
  //Flexing ul to display Li side by sde
  .flexProjectUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  //Global li styling
  li {
    margin-bottom: 50px;
    padding-bottom: 20px;
    width: calc((100% / 2) - 30px);
    min-width: 350px;
    background-color: white;
    transition: 0.7s;
     position: relative;
     border-radius: 5px;
     img{
      border-radius: 5px;
     }
    p {
      text-align: center;
    }
  }
}
// Using flex to Display image, article and links on top of each other
.flexLi {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    margin-top: 50px;
  }
  p {
    padding: 30px;
  }
}

// Display links side by side
.flexProjectLink {
  display: flex;
  justify-content: space-around;
}
// Styling links
.projectLink {
  margin: 20px;
  padding: 10px;
  text-align: center;
  background-color: $primaryColor;
  border: 2px solid $secondaryColor;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 5px;
  a {
    color: white;
  }
}

.projectLink:hover,
.projectLink:focus {
  background-color: white;
  color: orange;
  border: 3px solid orange;
}

//Overlay styling
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 5px;
}

.container:hover .overlay {
  opacity: 1;
}

// ---------------project Section styling ends here ---------------//
