@use "./variables" as *;


// ---------------Skills Section styling start here ---------------//
.skills{
  background-color: $fourthColor;
  h2{
    color: white;
    text-shadow: -1px 0px 10px black; 
    -webkit-text-stroke: 1px orange;
  }
}
// Display every icons side by side
.ulSkills{
  display: flex;
  flex-wrap: wrap;
justify-content: space-around;
     li{
        text-align: center;
        i{
          color: white;
          transition: 0.7s;
        }
       p{
        padding: 50px;
        color: white;
       }
     }
    i{
       font-size: 3rem;
       text-shadow: -1px 0px 10px black; 
      
    }
    i:hover, i:focus {
      -webkit-text-stroke: 1px orange;
    }
    li:hover, li:focus{
      animation: shake 1s ease infinite;
  }
}

// ---------------Skills Section styling ends here ---------------//