@use "./variables" as *;

// ---------------Contact Section styling start here ---------------//
// Global section styling
.contact {
    span {
      background-color: $thirdColor;
      color: white;
    }
  article {
    width: 50%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  p {
    padding: 10px;
  }
  i {
    font-size: 1.5rem;
    padding-right: 20px;
  }
}
//Using flex to display article and form side by side
.flexcontactSection {
  display: flex;
  justify-content: space-between;
}
// Styling the contact infos box
.contactInfos {
  border-radius: 10px;
  background-color: $primaryColor;
  border: 2px solid black;
  display: inline-block;
  background-color: white;
  width: 350px;
  position: relative;
  left: 220px;
  i{
    padding: 10px;
  }
  .mail, .phone{
    display: flex;
  }
  .fa-phone-flip {
    color: $fifthColor;
  }
  .fa-envelope {
    color: $fourthColor;
  }
}


// Styling the form
form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  width: 45%;
  input,
  textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
  }
  button {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
  }
  button:hover,
  button:focus {
    background-color: black;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
    color: $fourthColor;
  }
}


// ---------------Contact Section styling start here ---------------//
