@use "./variables" as *;

// ---------------project Section styling start here ---------------//
// Styling every LI
.projects {
  li{
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
  }
}
// Display every element on top of each other, centered
.flexProjectSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Flexing UL to display LI side by side and activate the left/right scroll (in use for my caroussel)
.flexProjectUl{
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
}

// Using flex to Display image, article and links on top of eachother
.flexLi {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1 0 60%;
   margin: 20px;
   box-shadow: -5px -5px 6px 0px $fourthColor;
  background-color: white;
   .imgProjectsContainer{
    padding: 20px;
  img {
    border: 2px solid black;
    border-radius: 20px;
  }
}
  p{
    text-align: center;
    padding-bottom: 30px;
  }
}

// Display links side by side
.flexProjectLink {
  display: flex;
  justify-content: space-around;
}
// Styling links
.projectlink {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: $primaryColor;
}
.projectlink:hover,
.projectlink:focus {
  background-color: black;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  color: $fourthColor;
}

// Styling slides Icons
.slideIcons{
  font-size: 3rem;
  padding-top: 30px;
 
}
.fa-arrow-right-long, .fa-arrow-left-long{
padding: 10px;
cursor: pointer;
}
// Styling slides Icons hover
.fa-arrow-left-long:hover, .fa-arrow-left-long:focus, .fa-arrow-right-long:hover, .fa-arrow-right-long:focus{
  background-color: black;
  color: $fourthColor;
  border-radius: 10px;

}
// ---------------project Section styling ends here ---------------//
