@use "./variables" as *;


// ---------------Skills Section styling start here ---------------//
.skills{
  background-color: $fifthColor;
  h2{
    color: white;

  }
}
// Display every icons side by side
.ulSkills{
  display: flex;
  flex-wrap: wrap;
justify-content: space-around;
     li{
        text-align: center;
        i{
          color: white;
        }
       p{
        padding: 50px;
        color: white;
       }
     }
    i{
       font-size: 3rem;
      
    }
    li:hover, li:focus{
      animation: shake 1s ease infinite;
  }
}

// ---------------Skills Section styling ends here ---------------//