html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
  width: 100%;
  height: auto;
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 125%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Righteous", cursive;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.7rem;
  padding-bottom: 100px;
  text-align: center;
}

h3 {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 0.9rem;
}

p,
input,
label,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

section {
  padding: 100px 0;
}

nav {
  width: 50%;
  margin-top: 30px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
nav li a {
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}
nav li a:hover,
nav li a:focus {
  color: #1F61C4;
}
nav li:hover, nav li:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.frenchNav {
  width: 65%;
}

header {
  background-image: url(../assets/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.flexHeader {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexHeader h1 {
  margin-top: 120px;
  margin-bottom: 100px;
  color: white;
  text-shadow: -1px 0px 10px black;
}
.flexHeader p {
  position: relative;
  color: white;
  font-size: 2rem;
  text-shadow: -1px 0px 10px black;
}
.flexHeader .cityCanada {
  -webkit-animation: hide 5s infinite;
          animation: hide 5s infinite;
}
.flexHeader .cityFrance {
  position: absolute;
  left: 367px;
  bottom: 0;
  -webkit-animation: show 5s infinite;
          animation: show 5s infinite;
}
.flexHeader .cityFrench {
  position: absolute;
  left: 348px;
  bottom: 0;
  -webkit-animation: show 5s infinite;
          animation: show 5s infinite;
}

.link {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1F61C4;
  border: 3px solid white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.link a {
  color: white;
}

.link:hover,
.link:focus {
  background-color: white;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border: 3px solid #1F61C4;
}
.link:hover a,
.link:focus a {
  color: #1F61C4;
  text-shadow: none;
}

.arrow {
  position: relative;
  -webkit-animation: jump 0.9s ease infinite;
          animation: jump 0.9s ease infinite;
}
.arrow i {
  font-size: 2rem;
  color: black;
}

.about {
  background-color: rgba(2, 23, 52, 0.889);
}

.flexAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexAbout h2 {
  padding-bottom: 30px;
  color: white;
  text-shadow: -1px 0px 10px black;
}
.flexAbout p {
  padding: 15px;
  text-align: center;
  color: white;
}
.flexAbout p span {
  color: #1F61C4;
}
.flexAbout p a {
  color: #1F61C4;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
.flexAbout p a:hover, .flexAbout p a:focus {
  text-decoration: underline;
  color: black;
}

h3 {
  margin-bottom: 20px;
  text-align: center;
}
h3 span {
  font-size: 2rem;
  color: #1F61C4;
}

.imgAbout {
  width: 20%;
  margin-bottom: 20px;
}
.imgAbout img {
  border-radius: 50%;
  border: 5px solid white;
}

.projects {
  background-color: rgba(2, 23, 52, 0.889);
}
.projects h2 {
  padding-bottom: 100px;
  color: white;
  text-shadow: -1px 0px 10px black;
}
.projects .flexProjectUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects li {
  margin-bottom: 50px;
  width: calc(50% - 20px);
  min-width: 400px;
  background-color: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.projects li p {
  text-align: center;
}
.projects li:hover, .projects li:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.flexLi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexLi h3 {
  margin-top: 50px;
}
.flexLi p {
  padding: 30px;
}

.flexProjectLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projectLink {
  margin: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1F61C4;
  border: 3px solid black;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.projectLink a {
  color: white;
}

.projectLink:hover,
.projectLink:focus {
  background-color: white;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #1F61C4;
  border: 3px solid #1F61C4;
}

.skills {
  background-color: #2B4162;
}
.skills h2 {
  color: white;
  text-shadow: -1px 0px 10px black;
}

.ulSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.ulSkills li {
  text-align: center;
}
.ulSkills li i {
  color: white;
}
.ulSkills li p {
  padding: 50px;
  color: white;
}
.ulSkills i {
  font-size: 3rem;
  text-shadow: -1px 0px 10px black;
}
.ulSkills li:hover, .ulSkills li:focus {
  -webkit-animation: shake 1s ease infinite;
          animation: shake 1s ease infinite;
}

.contact {
  background-image: url(../assets/philipp-katzenberger-iIJrUoeRoCQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.flexContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexContact h2 {
  padding-bottom: 30px;
  color: white;
  text-shadow: -1px 0px 10px black;
}
.flexContact p {
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: -1px 0px 10px black;
}

.contactInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactInfos i {
  padding: 10px;
  font-size: 2rem;
  color: white;
  padding-right: 20px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  text-shadow: -1px 0px 10px black;
}
.contactInfos i:hover, .contactInfos i:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  background-color: secondaryColor;
}
form input,
form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #1F61C4;
  color: #1F61C4;
}
form button {
  text-align: center;
  padding: 10px;
  background-color: #1F61C4;
  border: 3px solid white;
  color: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer;
}
form button:hover,
form button:focus {
  background-color: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #1F61C4;
  border: 3px solid #1F61C4;
}

footer {
  background-color: #2B4162;
  color: white;
  text-align: center;
  padding: 20px;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 10;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 10;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes hide {
  0% {
    opacity: 10;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 10;
  }
}
@keyframes hide {
  0% {
    opacity: 10;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 10;
  }
}
@-webkit-keyframes jump {
  0% {
    top: -20px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -20px;
  }
}
@keyframes jump {
  0% {
    top: -20px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -20px;
  }
}
@-webkit-keyframes shake {
  0%, 7% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  15% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  30% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  40%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}
@keyframes shake {
  0%, 7% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  15% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  30% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  40%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}