html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
  width: 100%;
  height: auto;
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 125%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 0.9rem;
}

p,
input,
label,
textarea {
  font-family: "Lora", serif;
  font-size: 1.2rem;
}

nav {
  width: 50%;
  margin-top: 30px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
nav li a:hover,
nav li a:focus {
  color: #D7B377;
}
nav li:hover, nav li:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

header {
  background-image: url(../assets/eberhard-grossgasteiger-cs0sK0gzqCU-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.flexHeader {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexHeader h1 {
  margin-top: 160px;
  color: white;
}
.flexHeader p {
  position: relative;
  color: white;
  font-size: 2rem;
}
.flexHeader .cityCanada {
  -webkit-animation: hide 8s infinite;
          animation: hide 8s infinite;
}
.flexHeader .cityFrance {
  position: absolute;
  left: 420px;
  bottom: 0;
  -webkit-animation: show 8s infinite;
          animation: show 8s infinite;
}

.link {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D7B377;
  border-radius: 10px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.link a {
  color: black;
}

.link:hover, .link:focus {
  background-color: white;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.arrow {
  position: relative;
  -webkit-animation: jump 0.9s ease infinite;
          animation: jump 0.9s ease infinite;
}
.arrow i {
  font-size: 2rem;
}

.about {
  margin-top: 0;
  padding-top: 100px;
}
.about p {
  padding: 15px;
  margin-left: 20px;
  border: 2px solid black;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 6px 0px #385F71;
          box-shadow: 5px 5px 6px 0px #385F71;
  background-color: white;
}
.about p a {
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #2B4162;
}

h3 span {
  background-color: #8F754F;
}
h3 .skills {
  background-color: #D7B377;
}

.flexAboutArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgAbout {
  width: 60%;
}
.imgAbout img {
  border: 2px solid black;
  border-radius: 50%;
  -webkit-box-shadow: -5px -5px 6px 0px #385F71;
          box-shadow: -5px -5px 6px 0px #385F71;
}

.projects li {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}

.flexProjectSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexProjectUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
}

.flexLi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  margin: 20px;
  -webkit-box-shadow: -5px -5px 6px 0px #385F71;
          box-shadow: -5px -5px 6px 0px #385F71;
  background-color: white;
}
.flexLi .imgProjectsContainer {
  padding: 20px;
}
.flexLi .imgProjectsContainer img {
  border: 2px solid black;
  border-radius: 20px;
}
.flexLi p {
  text-align: center;
  padding-bottom: 30px;
}

.flexProjectLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projectlink {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #F5F0F6;
}

.projectlink:hover,
.projectlink:focus {
  background-color: black;
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  color: #385F71;
}

.slideIcons {
  font-size: 3rem;
  padding-top: 30px;
}

.fa-arrow-right-long, .fa-arrow-left-long {
  padding: 10px;
  cursor: pointer;
}

.fa-arrow-left-long:hover, .fa-arrow-left-long:focus, .fa-arrow-right-long:hover, .fa-arrow-right-long:focus {
  background-color: black;
  color: #385F71;
  border-radius: 10px;
}

.ulSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.ulSkills li {
  text-align: center;
  padding: 10px;
}
.ulSkills li p {
  padding: 50px;
}
.ulSkills i {
  font-size: 4rem;
}
.ulSkills li:hover, .ulSkills li:focus {
  -webkit-animation: shake 1s ease infinite;
          animation: shake 1s ease infinite;
}

.contact span {
  background-color: #8F754F;
  color: white;
}
.contact article {
  width: 50%;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact p {
  padding: 10px;
}
.contact i {
  font-size: 1.5rem;
  padding-right: 20px;
}

.flexContactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactInfos {
  border-radius: 10px;
  background-color: #F5F0F6;
  border: 2px solid black;
  display: inline-block;
  background-color: white;
  width: 350px;
  position: relative;
  left: 220px;
}
.contactInfos i {
  padding: 10px;
}
.contactInfos .mail, .contactInfos .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactInfos .fa-phone-flip {
  color: #2B4162;
}
.contactInfos .fa-envelope {
  color: #385F71;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  width: 45%;
}
form input,
form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}
form button {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}
form button:hover,
form button:focus {
  background-color: black;
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  color: #385F71;
}

footer {
  text-align: center;
}
footer .sectionTest {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 60px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 10;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 10;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes hide {
  0% {
    opacity: 10;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 10;
  }
}
@keyframes hide {
  0% {
    opacity: 10;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 10;
  }
}
@-webkit-keyframes jump {
  0% {
    top: -20px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -20px;
  }
}
@keyframes jump {
  0% {
    top: -20px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -20px;
  }
}
@-webkit-keyframes shake {
  0%, 7% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  15% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  30% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  40%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}
@keyframes shake {
  0%, 7% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  15% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  30% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  40%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}